SOCKET_SERVER_URL=http://localhost:3100
BOT_TEST_TOKEN=
BOT_TEST_NAME=bot-test-1
BOT_TEST_CONNECTION_TYPE=BOT
BOT_TEST_HTTP_PORT=3201
BOT_TEST_AUTO_ACCEPT=true
BOT_TEST_AUTO_COMPLETE_MS=1500
BOT_TEST_AUTO_REJECT=
