APP_URL=http://localhost:3000
PORT=3000
SECRET=app_secret_for_encryption

DATABASE_URL=postgres://postgres:postgres@localhost:5432/volvecapital
DATABASE_MIGRATION_URL=postgres://postgres:postgres@localhost:5432/volvecapital
TENANT_SCHEMAS=papapremium

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# DOKU Config
DOKU_CLIENT_ID=G-XXXXXXXXXXXX
DOKU_SECRET_KEY=SK-XXXXXXXXXXXX
DOKU_IS_PRODUCTION=false
DOKU_NOTIFY_URL=https://your-ngrok.ngrok-free.app/public/payment/notify
