APP_URL=http://localhost:3000
PORT=3000
SECRET=app_secret_for_encryption
SOCKET_APP_BASE_URL=http://localhost:3100
SOCKET_INTERNAL_SECRET=socket_internal_secret
SOCKET_TEST_MODULE_ENABLED=false

DATABASE_URL=postgres://postgres:postgres@localhost:5432/volvecapital
DATABASE_MIGRATION_URL=postgres://postgres:postgres@localhost:5432/volvecapital
TENANT_SCHEMAS=all_tenant_separated_by_comma

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

TELEGRAM_TOKEN=telegram_bot_token
